<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Character</title>
</head>
<body>
    <h1>New Character</h1>
    <form action="/starwars" method="POST">
        <label id="name"> Name </label>
        <input type="text" name="name" placeholder="name" id="name">
        <label id="Lightsaber">Lightsaber</label>
        <input type="boolean" id="Lightsaber" placeholder="Lightsaber" name="Lightsaber">
        <label id="Lightsabercolor">Lightsaber color</label>
        <input type="boolean" id="Lightsabercolor" placeholder="Lightsabercolor" name="Lightsabercolor">
        <button>submit</button>
    </form>
    <a href="/starwars">Back to characters page</a>
    
</body>
</html>